.modelContainer {
    min-height: 300px;
    width: 400px;
    position: absolute;
    border: 1px solid white;
    right: 5%;
    padding: 1rem;
    bottom: 5%;
    border-radius: 10px;
}

.model-config {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.row-container {
    width: 80%;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.limit {
    display: flex;
}

.title {
    color: rgb(107, 106, 106);
}

.saveBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    & button {
        background-color: #5284D9;
        border: none;
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
}

table {
    width: 100%;

    & button {
        background-color: transparent;
        border: none;
        color: white;
    }
}

thead {
    background-color: #5284D9;
    text-align: left;
}



td,
th {
    padding: 10px;
}